@model IEnumerable<PERM.Models._Tasks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskAssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskAssignedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskCompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskAssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskAssignedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
